.editableFieldBox {
  display: flex;
  flex: 1;
  gap: 10px;
  align-items: center;

  .editableInput {
    width: 100%;
    padding: 6px 0 0;
    border: 1.5px solid;
    border-radius: 8px;

    input {
      text-align: center;
    }
  }
}

.right {
  flex-direction: row-reverse;
}
