.editableFieldBox {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px;

  .editableInput {
    padding: 3px 3px 0 8px;
    border: 1.5px solid;
    border-radius: 8px;
    width: 100%;
  }
}

.right {
  flex-direction: row-reverse;
}