.removeIcon {
  position: absolute;
  top: -14px;
  right: -14px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  background-color: ghostwhite;
  border-radius: 50%;
}

.customFocusVisible {
  background-color: transparent !important;
}

.taskBox {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 15px;

  border-bottom: 0.3px solid lightslategray;

  & .title {
    width: 100%;
    font-size: 20px;
    text-align: center;
    overflow-wrap: anywhere;
  }
}
