.removeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  position: absolute;
  right: -10px;
  top: -10px;
  border-radius: 50%;
  background-color: ghostwhite;
}

.taskBox {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-bottom: 0.3px solid lightslategray;
  & .title {
    font-size: 20px;
  }
}