.formBox {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 20%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 60%;
    max-width: 400px;
    a {
      text-align: center;
    }
  }
}

.loginBtn {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  &:active {
    color: initial;
    text-decoration: none;
    background-color: #a52dff;
    transition: 0.4s;
    padding: 10px 15px;
    border-radius: 10px;

  }
}

.logoutBtn {
  //@extend .loginBtn;
  color: #fff;
  background-color: red;
}