@font-face {
  font-family: "Roboto";
  src: local('Roboto'),  url("./Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: local('Montserrat'),  url("./Montserrat/Montserrat-Regular.ttf") format("truetype");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}
