.addForm {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: center;

  div {
    flex: 1;
    max-width: 300px;
  }

  .error {
    width: 100%;
    font-size: 18px;
    color: rgb(255 0 0);
    text-align: center;
  }
}
