.addForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    div {
        flex: 1;
        max-width: 300px;
    }
    .error {
        width: 100%;
        text-align: center;
        color: rgb(255 0 0);
        font-size: 18px;
    }

}