.mainContentBox {
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
  align-items: flex-start;
  justify-content: center;

  margin-top: 30px;
  padding:  0 50px;

  .todolist{
    flex: 1 0 220px;
  }
}

.start {
  justify-content: start;
}