.mainContentBox {
  display: flexbox;
  display: flex;
  flex-flow: row wrap;
  -webkit-place-content: stretch center;
  -ms-flex-pack: start;
  place-content: stretch center;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 25px;
  margin-top: 30px;
}